{% extends 'base.html.twig' %}

{% block body %}

<h1>{{title}}</h1>
 
{% if age > 18 %}
   <p>tu es majeur</p>
{% else %}
   <p>tu es mineur</p>
{% endif %}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nobis eos sapiente, veritatis, porro ipsam, facilis provident totam neque illum rerum aliquid autem itaque expedita labore excepturi deleniti minus quam. Blanditiis impedit esse rerum! Est officia nulla provident, obcaecati delectus consequuntur id ullam dicta molestias eveniet quia vitae. Adipisci, unde!</p>
 
<p>Molestias expedita, dolor maxime suscipit esse ab amet blanditiis eligendi facere quis qui dignissimos laborum enim hic tempora molestiae necessitatibus ea? Labore quae accusamus aperiam ipsam a fuga consequatur vitae. Eveniet repellat perspiciatis laboriosam sequi iusto, adipisci distinctio ab aspernatur eaque quod in, culpa est, id inventore maxime repudiandae voluptates.</p>


{% endblock %}
