{% extends 'base.html.twig' %}

{% block body %}

	<article>
		<h2>Titre de l'article</h2>
		<div class="metadata">Ecrit le 02/5/2020 à 15:00 dans la catégorie Politique</div>
		<div class="content">
			<img src="http://placehold.it/350x150" alt="">
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente ad pariatur architecto ipsam dolore sit.</p>
			<p>Quibusdam nam, incidunt molestias dignissimos dolorem in neque ipsum aspernatur facere harum non sint soluta.</p>

			<hr>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore temporibus placeat nobis quisquam consectetur? Quam, eius sed. Amet sapiente culpa eaque dolorem ut similique illo quis eligendi laborum doloribus alias eum quidem aperiam placeat recusandae architecto dignissimos assumenda rerum dolor dolores, molestias provident! Nesciunt blanditiis eaque illo, earum cumque quibusdam.</p>
			<p>Impedit praesentium enim dolore saepe consequuntur perspiciatis ducimus ullam dolor iste eos aspernatur error sequi debitis sed odio, dolorem voluptatibus a omnis consequatur, accusantium totam ut? Commodi, atque officia! Ex labore praesentium quam mollitia, ad aliquid deserunt. Explicabo accusamus nihil iure labore neque debitis, ipsam tempore beatae cumque molestiae qui.</p>
		</div>

	</article>

{% endblock %}
